body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: rgba(0, 0, 0, 0.822);
}
/* .card {
  height: auto;
  width: 350px;
  box-shadow: 0 0 10px gray;
}

.card-img img {
  width: 350px;
  height: 250px;
  object-fit: cover;
} */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  flex-direction: column;
  color: white;
  position: relative;
}
.hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.493);
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero-content {
  flex-direction: column;
  z-index: 2;
}
.hero-title {
  flex-direction: column;
}
.search {
  width: 80%;
}

.card {
  width: 300px;
  box-shadow: 0 0 10px gray;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
}

.card-img {
  width: 100%;
  height: 250px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  padding: 15px;
  text-align: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
}

.btn-danger {
  width: 80%;
}

.showmovie {
  transform: scale(1);
  animation: showmovie_animation 0.5s ease-in-out;
  z-index: 2;
}
@keyframes showmovie_animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 756px) {
  .display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .display .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
